* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "NotoSans";
  font-size: 1rem;
  user-select: none;
  word-wrap: break-word;
}

@font-face {
  font-family: "NotoSans";
  src: url(./assets/font/NotoSansJP-Light.otf);
}
